ol,ul,li{list-style:none;margin:0px;padding:0px;}
.project-top-patination li{

}

.news{
    width: 100%;
    height: 20px;
    margin-top: 30px;
    margin-left: 10%;


}
.news .word{
    width: 70%;
    height: 50px;

}
.news .word img{
    width: 15px;
    height: 15px;
}
.news .word a{
    background-color: ;
    overflow: hidden;
    color: black;
    border-bottom: purple dashed 1px;
}
.news .word a:hover{
    color: plum;
}
.news .time{
    margin-top: -105%;
    padding-left: 8%;
    width: 20%;

}
.news .time span{
    border-bottom: purple dashed 1px;
}

/* 置顶属性*/
.news .word0{
    margin-left: -5%;
    width: 100%;
    height: 50px;

}
.top{
    border: 1px solid mistyrose;
    color:red;
    background-color: lightyellow;
    font-family: 'Megrim', cursive;
    font-size: 1.1em;
}
.top .top0{
    border: 1px solid mistyrose;
    color:red;
    background-color: lightyellow;
    font-family: 'Megrim', cursive;
    font-size: 1.2em;
}
.top .top0:hover{
    color: darksalmon;
}
/* end */

/* 分页 属性*/
.pageturn {
    clear: both;
    height: 30px;
    margin: 50px auto;
    display: table;
    text-align: center;
}

.pageturn .pagelist {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.pageturn li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    float: left;
    text-align: center;
}

.pageturn li:first-child {
    margin-left: 0;
}

.pageturn li:hover a, .pageturn .active a {
    background: #717171;
    color: #fff;
    border-color: #eaeaea;
}

.pageturn a {
    border: 1px solid #eaeaea;
    display: block;
    height: 28px;
    color: #6c6c6c;
}

.pageturn .long {
    width: 100px;
}

.pageturn .none a {
    border: 0;
}

.pageright {
    float: right;
    width: auto;
    display: inline;
    clear: none;
    margin-top: 10px;
}

/*groupPurchase*/